<!--== Start Footer Area Wrapper ==-->
<footer class="footer-area">
    <!--== Start Footer Main ==-->
    <div class="footer-main">
        <div class="container pt--0 pb--0">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <!--== Start widget Item ==-->
                    <div class="widget-item">
                        <div class="about-widget-wrap">
                            <div class="widget-logo-area">
                                <%= link_to root_path do %>
                                    <h1 class="title" style="color: white;">GreenLite VelaMotos</h1>
                                <% end %>
                            </div>
                            <p class="desc">Una De Las Primeras Empresas Que Operan Con Productos Eléctricos En El Perú
                            </p>
                            <div class="social-icons">
                                <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i
                                        class="fa fa-facebook"></i></a>
                                <a href="https://dribbble.com/" target="_blank" rel="noopener"><i
                                        class="fa fa-dribbble"></i></a>
                                <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i
                                        class="fa fa-pinterest-p"></i></a>
                                <a href="https://twitter.com/" target="_blank" rel="noopener"><i
                                        class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--== End widget Item ==-->
                </div>
                <div class="col-md-6 col-lg-3">
                    <!--== Start widget Item ==-->
                    <div class="widget-item widget-services-item">
                        <h4 class="widget-title">Servicios</h4>
                        <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse"
                            data-bs-target="#widgetId-1">
                            Servicios</h4>
                        <div id="widgetId-1" class="collapse widget-collapse-body">
                            <div class="collapse-body">
                                <div class="widget-menu-wrap">
                                    <ul class="nav-menu">
                                        <li><%= link_to contact_path do %><span>Atención Personalizada</span><% end %></li>
                                        <li><%= link_to contact_path do %><span>Asesoramiento</span><% end %></li>
                                        <li><%= link_to contact_path do %><span>Promociones</span><% end %></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--== End widget Item ==-->
                </div>
                <div class="col-md-6 col-lg-3">
                    <!--== Start widget Item ==-->
                    <div class="widget-item">
                        <h4 class="widget-title">Contacto</h4>
                        <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse"
                            data-bs-target="#widgetId-3">
                            Contacto</h4>
                        <div id="widgetId-3" class="collapse widget-collapse-body">
                            <div class="collapse-body">
                                <div class="widget-contact-wrap">
                                    <ul>
                                        <li><span>Dirección:</span> AV. PETIT THOUARS 3565 SAN ISIDRO LIMA 27</li>
                                        <li><span>Celular 1:</span> <%= link_to "+51 962 383 474", "tel://+51962383474" %></li>
                                        <li><span>Celular 2:</span> <%= link_to "+51 975 135 920", "tel://+51975135920" %></li>
                                        <li><span>Email:</span> <%= link_to "contacto@velamotos.com", "mailto:contacto@velamotos.com" %></li>
                                        <li><%= link_to "www.velamotos.com", "https://www.velamotos.com", target: "_blank" %></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--== End widget Item ==-->
                </div>
            </div>
        </div>
    </div>
    <!--== End Footer Main ==-->

    <!--== Start Footer Bottom ==-->
    <div class="footer-bottom">
        <div class="container pt--0 pb--0">
            <div class="row">
                <div class="col-md-7 col-lg-6">
                    <p class="copyright">© <%= Time.now.year %> GreenLite VelaMotos</p>
                </div>
            </div>
        </div>
    </div>
    <!--== End Footer Bottom ==-->
</footer>
<!--== End Footer Area Wrapper ==-->