<!--== Start Header Wrapper ==-->
<header class="main-header-wrapper position-relative">
  <div class="header-top">
    <div class="container-sm pt--0 pb--0">
      <div class="row">
        <div class="col-12">
          <div class="header-top-align">
            <div class="header-top-align-start">
              <div class="desc">
                <p>Una De Las Primeras Empresas Que Operan Con Productos Eléctricos En El Perú</p>
              </div>
            </div>
            <div class="header-top-align-end">
              <div class="header-info-items">
                <div class="info-items">
                  <ul>
                    <li class="number"><i class="fa fa-phone"></i>
                        <%= link_to "+51 962 383 474", "https://wa.me/+51962383474?text=Hola%20estoy%20interesado%20en%20uno%20de%20sus%20productos", target: "_blank" %>
                    </li>
                    <li class="number"><i class="fa fa-phone"></i>
                        <%= link_to "+51 975 135 920", "https://wa.me/+51975135920?text=Hola%20estoy%20interesado%20en%20uno%20de%20sus%20productos", target: "_blank" %>
                    </li>
                    <li class="email"><i class="fa fa-envelope"></i><%= link_to "contacto@velamotos.com", "mailto:contacto@velamotos.com" %></li>
                    <% unless user_signed_in? %>
                      <li class="account"><i class="fa fa-user"></i><%= link_to 'Inicar Sesión', new_user_session_path %></li>
                    <% end %>
                    <% if user_signed_in? %>
                      <li class="account"><i class="fa fa-sign-out"></i><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle">
    <div class="container pt--0 pb--0">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="header-middle-align">
            <div class="header-middle-align-start">
              <div class="header-logo-area">
                <%= link_to root_path do %>
                  <img class="logo-main" src="/assets/logo-vm.png" width="191" height="34" alt="Logo" />
                <% end %>
              </div>
            </div>
            <div class="header-middle-align-end">
              <div class="header-action-area">
                <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu"
                  aria-controls="AsideOffcanvasMenu">
                  <i class="pe-7s-menu"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-area header-default">
    <div class="container">
      <div class="row no-gutter align-items-center position-relative">
        <div class="col-12">
          <div class="header-align">
            <div class="header-navigation-area position-relative">
              <ul class="main-menu nav">
                <% if user_signed_in? %>
                  <li class="has-submenu"><a href="#/"><span>Dashboard</span></a>
                    <ul class="submenu-nav">
                      <li><%= link_to products_path do %><span>Motos electricas</span><% end %></li>
                      <li><%= link_to accessories_path do %><span>Accesorios</span><% end %></li>
                    </ul>
                  </li>
                <% end %>
                <li><%= link_to root_path do %><span>Inicio</span><% end %></li>
                <li><%= link_to about_us_path do %><span>Nosotros</span><% end %>
                </li>
                <li class="has-submenu"><a href="#/"><span>Catalogo</span></a>
                  <ul class="submenu-nav">
                    <li><%= link_to electric_motorcycles_catalog_path do %><span>Motos electricas</span><% end %></li>
                    <li><%= link_to accessories_catalog_path do %><span>Accesorios</span><% end %></li>
                  </ul>
                </li>
                <li><%= link_to contact_path do %><span>Contacto</span><% end %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--== End Header Wrapper ==-->