<!--== Start Page Header Area Wrapper ==-->
<div class="page-header-area" data-bg-img="/assets/velamotos/shop-bg.png">
  <div class="container pt--0 pb--0">
    <div class="row">
      <div class="col-12">
        <div class="page-header-content">
          <h2 class="title" data-aos="fade-down" data-aos-duration="1000" style="color: #EB3E32;">Productos</h2>
          <nav class="breadcrumb-area" data-aos="fade-down" data-aos-duration="1200">
            <ul class="breadcrumb">
              <li><a href="/index.html">Inicio</a></li>
              <li class="breadcrumb-sep">//</li>
              <li>Productos</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!--== End Page Header Area Wrapper ==-->

<!--== Start Product Area Wrapper ==-->
<section class="product-area product-default-area">
  <div class="container">
    <div class="row flex-xl-row-reverse justify-content-between">
      <div class="col-xl-9">
        <div class="row">
          <div class="col-12">
            <div class="shop-top-bar">
              <div class="shop-top-left">
                <p class="pagination-line"><a href="/catalogo.html">12</a> Productos de <a href="/catalogo.html">12</a>
                </p>
              </div>
              <div class="shop-top-center">
                <nav class="product-nav">
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-grid-tab" data-bs-toggle="tab" data-bs-target="#nav-grid"
                      type="button" role="tab" aria-controls="nav-grid" aria-selected="true"><i
                        class="fa fa-th"></i></button>
                    <button class="nav-link" id="nav-list-tab" data-bs-toggle="tab" data-bs-target="#nav-list"
                      type="button" role="tab" aria-controls="nav-list" aria-selected="false"><i
                        class="fa fa-list"></i></button>
                  </div>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                <div class="row">
                  <% @products.each do |product| %>
                    <div class="col-sm-6 col-lg-4">
                      <!--== Start Product Item ==-->
                      <div class="product-item">
                        <div class="inner-content">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="<%= product.imagen.blank? ? '/assets/shop/product-single/1.webp' : '/product_images/' + product.imagen %>" width="270" height="274" title="<%= product.name %>" alt="<%= product.imagen %>">
                            </a>
                            <div class="product-flag <%= product.discount.blank? || product.discount == 0 ? 'd-none' : 'd-block' %>">
                              <ul>
                                <li class="discount">-<%= product.discount %>%</li>
                              </ul>
                            </div>
                            <div class="product-action">
                              
                              <%= link_to show_product_path(product), class: "btn-product-quick-view-open", remote: true do %>
                                <i class="fa fa-arrows"></i>
                              <% end %>

                            </div>
                            <a class="banner-link-overlay" href="/catalogo.html"></a>
                          </div>
                          <div class="product-info">
                            <div class="category">
                              <ul>
                                <li><a href="/catalogo.html">Men</a></li>
                                <li class="sep">/</li>
                                <li><a href="/catalogo.html">Women</a></li>
                              </ul>
                            </div>
                            <h4 class="title"><a href="single-product.html"><%= product.name %></a></h4>
                            <div class="prices">
                              <% if product.price != product.total_price %>
                                <span class="price-old">S/. <%= product.price %></span>
                                <span class="sep">-</span>
                              <% end %>
                              <span class="price">S/. <%= product.total_price %></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--== End prPduct Item ==-->
                    </div>
                  <% end %>
                  <div class="col-12">
                    <div class="pagination-items">
                      <ul class="pagination justify-content-end mb--0">
                        <li><a class="active" href="/catalogo.html">1</a></li>
                        <li><a href="shop-four-columns.html">2</a></li>
                        <li><a href="shop-three-columns.html">3</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
                <div class="row">
                  <% @products.each do |product| %>
                    <div class="col-md-12">
                      <!--== Start Product Item ==-->
                      <div class="product-item product-list-item">
                        <div class="inner-content">
                          <div class="product-thumb">
                            <a href="single-product.html">
                              <img src="<%= product.imagen.blank? ? '/assets/shop/product-single/1.webp' : '/product_images/' + product.imagen %>" width="322" height="360" title="<%= product.name %>" alt="<%= product.imagen %>">
                            </a>
                            <div class="product-flag <%= product.discount.blank? || product.discount == 0 ? 'd-none' : 'd-block' %>">
                              <ul>
                                <li class="discount">-<%= product.discount %>%</li>
                              </ul>
                            </div>
                            <div class="product-action">
                              
                              <%= link_to show_product_path(product), class: "btn-product-quick-view-open", remote: true do %>
                                <i class="fa fa-arrows"></i>
                              <% end %>

                            </div>
                            <a class="banner-link-overlay" href="/catalogo.html"></a>
                          </div>
                          <div class="product-info">
                            <div class="category">
                              <ul>
                                <li><a href="/catalogo.html">Men</a></li>
                                <li class="sep">/</li>
                                <li><a href="/catalogo.html">Women</a></li>
                              </ul>
                            </div>
                            <h4 class="title"><a href="single-product.html"><%= product.name %></a></h4>
                            <div class="prices">
                              <% if product.price != product.total_price %>
                                <span class="price-old">S/. <%= product.price %></span>
                                <span class="sep">-</span>
                              <% end %>
                              <span class="price">S/. <%= product.total_price %></span>
                            </div>
                            <p><%= product.description %></p>
                            <a class="btn-theme btn-sm" href="shop-cart.html">Comprar</a>
                          </div>
                        </div>
                      </div>
                      <!--== End prPduct Item ==-->
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="shop-sidebar">
          <div class="shop-sidebar-category">
            <h4 class="sidebar-title">Categorias</h4>
            <div class="sidebar-category">
              <ul class="category-list mb--0">
                <li><a href="/catalogo.html">Moto Lineal <span>(4)</span></a></li>
                <li><a href="/catalogo.html">Trimoto <span>(4)</span></a></li>
                <li><a href="/catalogo.html">Cuatrimoto <span>(4)</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--== End Product Area Wrapper ==-->

<%# render "product_modal" %>

<!--== Start Quick View Menu ==-->
<aside class="product-quick-view-modal">
    <div class="product-quick-view-inner">
        <div class="product-quick-view-content">
            <button type="button" class="btn-close">
                <span class="close-icon"><i class="fa fa-close"></i></span>
            </button>
            <div class="row align-items-center" id="modal_content">
                
            </div>
        </div>
    </div>
    <div class="canvas-overlay"></div>
</aside>
<!--== End Quick View Menu ==-->