<!--== Start Page Header Area Wrapper ==-->
<div class="page-header-area" data-bg-img="/assets/velamotos/shop-bg.png">
  <div class="container pt--0 pb--0">
    <div class="row">
      <div class="col-12">
        <div class="page-header-content">
          <h2 class="title" data-aos="fade-down" data-aos-duration="1000" style="color:#eb3e32;">Restablecer Contraseña</h2>
          <nav class="breadcrumb-area" data-aos="fade-down" data-aos-duration="1200">
            <ul class="breadcrumb">
              <li><%= link_to "Inicio", root_path %></li>
              <li class="breadcrumb-sep">//</li>
              <li>Restablecer Contraseña</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!--== End Page Header Area Wrapper ==-->

<!--== Start My Account Area Wrapper ==-->
<section class="account-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 m-auto">
        <div class="section-title text-center">
          <h2 class="title">Cambiar la contraseña</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="register-form-content">

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

            <div class="col-12">
              <div class="form-group">
                <%= f.label :password do %>
                  Nueva constraseña
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> caracteres mínimos)</em>
                  <% end %>
                  <span class="required">*</span>
                <% end %>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <%= f.label :password_confirmation do %>
                  Confirmar contraseña <span class="required">*</span>
                <% end %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <%= f.submit "Cambiar contraseña", class: "btn-register" %>
              </div>
            </div>
          <% end %>

          <%- if controller_name != 'sessions' %>
            <%= link_to "Log in", new_session_path(resource_name) %><br />
          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>
<!--== End My Account Area Wrapper ==-->





