<!--== Start Page Header Area Wrapper ==-->
<div class="page-header-area" data-bg-img="/assets/velamotos/shop-bg.png">
  <div class="container pt--0 pb--0">
    <div class="row">
      <div class="col-12">
        <div class="page-header-content">
          <h2 class="title" data-aos="fade-down" data-aos-duration="1000" style="color:#eb3e32;">Login</h2>
          <nav class="breadcrumb-area" data-aos="fade-down" data-aos-duration="1200">
            <ul class="breadcrumb">
              <li><%= link_to "Inicio", root_path %></li>
              <li class="breadcrumb-sep">//</li>
              <li>Login</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!--== End Page Header Area Wrapper ==-->

<!--== Start My Account Area Wrapper ==-->
<section class="account-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 m-auto">
        <div class="section-title text-center">
          <h2 class="title">Iniciar Sesión</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="login-form-content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row">
              <% if notice  %>
                <p class="notice"><%= notice %></p>
              <% end %>
              <% if alert %>
                <p class="alert"><%= alert %></p>
              <% end %>
              <div class="col-12">
                <div class="form-group">
                  <%= f.label :email do %>
                    Correo electronico <span class="required">*</span>
                  <% end %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <%= f.label :password do %>
                    Contraseña <span class="required">*</span>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <%= f.submit "Ingresar", class: "btn-login" %>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group account-info-group mb--0">
                  <div class="rememberme-account">
                    <% if devise_mapping.rememberable? %>
                      <div class="form-check">
                        <%= f.check_box :remember_me, class: "form-check-input" %>
                        <%= f.label :remember_me, "Recordarme", class: "form-check-label" %>
                      </div>
                    <% end %>
                  </div>
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <%= link_to "¿Ha olvidado su contraseña?", new_password_path(resource_name), class: "lost-password" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!--== End My Account Area Wrapper ==-->
