<%= render "header_usuario" %>

<!--== Start Contact Area Wrapper ==-->
<section class="contact-area contact-page-area">
  <div class="container" style="padding-top: 40px">

    <div class="tab-pane" id="orders" role="tabpanel" aria-labelledby="orders-tab">
      <div class="myaccount-content">
        
        <div class="row mb-3">
          <div class="col-md-8">
              <h3>Usuarios</h3>
          </div>
          <div class="col-md-4 d-flex justify-content-end">
              <%= link_to "Nuevo", new_usuario_path, class: "btn-theme" %>
          </div>
        </div>
        <div class="myaccount-table table-responsive text-center">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th>Nombre Completo</th>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% unless @users.blank? %>
                <% @users.each_with_index do |user, index| %>
                  <tr>
                    <td>
                      <%= (@pagy.page - 1) * @users.limit_value + index + 1 %>
                    </td>
                    <td><%= user.first_name.to_s + " " + user.last_name.to_s %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                    <td>
                      <%= link_to usuario_path(user), class: "check-btn sqr-btn" do %>
                        <i class="fa fa-eye"></i>
                      <% end %>  
                      <%= link_to edit_usuario_path(user), class: "check-btn sqr-btn" do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>  
                      <%= link_to usuario_path(user), method: :delete, data: { confirm: "¿Deseas borrar este usuario?" }, class: "check-btn sqr-btn" do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="5">No hay resultados</td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%# pagy_items_selector_js(@pagy) %>
          <%# render "pagy/custom_pagy_items_selector", pagy: @pagy, items: @items unless @users.blank? %>
        </div>
        <div class="d-flex justify-content-center">
          <%= render "pagy/custom_pagy_info", pagy: @pagy unless @users.blank? %>
        </div>
        <%= render "pagy/custom_pagy", pagy: @pagy unless @users.blank? %>
      </div>
    </div>

  </div>
</section>
<!--== End Contact Area Wrapper ==-->
