<%= render "header_usuario" %>

<!--== Start Contact Area Wrapper ==-->
<section class="contact-area contact-page-area">
  <div class="container" style="padding-top: 40px">

    <p style="color: green"><%= notice %></p>

    <%= render "user", user: @user %>

    <div>
      <%= link_to "Editar", edit_usuario_path(@user) %> |
      <%= link_to "Regresar", usuarios_path %>
    </div>

  </div>
</section>
<!--== End Contact Area Wrapper ==-->