<!--== Start Shopping Checkout Area Wrapper ==-->
<section class="shopping-checkout-wrap">
  <div class="col-lg-12">
    <!--== Start Billing Accordion ==-->
    <div class="checkout-billing-details-wrap">
      <div class="billing-form-wrap">
        <%= form_with(model: product, class: "mt-1", multipart: true) do |form| %>

          <% if product.errors.any? %>
            <div style="color: red">
              <ul>
                <% product.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :name do %>
                  Nombre <abbr class="required" title="required">*</abbr>
                <% end %>
                <%= form.text_field :name, class: "form-control", required: true %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= form.label :warranty do %>
                  Garantía <abbr class="required" title="required">*</abbr>
                <% end %>
                <%= form.text_field :warranty, class: "form-control", required: true %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= form.label :colores do %>
                  Color <abbr class="required" title="required">*</abbr>
                <% end %>
                <%= form.select :colores, [["Seleccione", ""]] +  @colors.to_a, {}, class: "form-control", onchange: "colorSelected(this)" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="list-colors">Colores</label>
                <%= form.hidden_field :color %>
                <div class="product-single-item" id="color-container">
                  <div class="product-single-info">
                    <div class="product-color">
                      <ul class="color-list" id="color-list">
                        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <%= form.label :description, "Descripción (optional)" %>
                <%= form.text_area :description, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= form.label :price do %>
                  Precio <abbr class="required" title="required">*</abbr>
                <% end %>
                <%= form.number_field :price, min: 0, class: "form-control calculate-total-price", required: true %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= form.label :discount do %>
                  Descuento (%) <abbr class="required" title="required">*</abbr>
                <% end %>
                <%= form.number_field :discount, min: 0, class: "form-control calculate-total-price", required: true %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= form.label :total_price do %>
                  Precio Total <abbr class="required" title="required">*</abbr>
                <% end %>
                <%= form.number_field :total_price, min: 0, class: "form-control", required: true %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= form.label :stock do %>
                  Stock <abbr class="required" title="required">*</abbr>
                <% end %>
                <%= form.number_field :stock, min: 0, class: "form-control", required: true %>
              </div>
            </div>
            <%= link_to "Agregar imagen", new_image_path(product_id: product) %>
            <%= form.hidden_field :imagen %>
            <div class="col-md-12">
              <div class="form-group">
                <label>Fotos</label>
                <div class="product-single-item">
                  <div class="col-xl-6">
                    <!--== Start Product Thumbnail Area ==-->
                    <div class="product-single-thumb">
                      <div class="swiper-container single-product-thumb single-product-thumb-slider">
                        <div class="swiper-wrapper">
                          <% @images.each do |image| %>
                            <div class="swiper-slide">
                              <a class="lightbox-image" data-fancybox="gallery" href="/product_images/<%= image.image_url %>">
                                <img src="/product_images/<%= image.image_url %>" width="570" height="541" alt="<%= image.image_url %>">
                              </a>
                              <%= link_to image, method: :delete, class: "check-btn sqr-btn" do %>
                                <%# <i class="fa fa-trash"></i> %> Eliminar
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                      <div class="swiper-container single-product-nav single-product-nav-slider">
                        <div class="swiper-wrapper">
                          <% @images.each do |image| %>
                            <div class="swiper-slide">
                              <img src="/product_images/<%= image.image_url %>" width="127" height="127" alt="Image-HasTech">
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <!--== End Product Thumbnail Area ==-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <%= form.submit "Guardar", class: "btn-theme" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!--== End Billing Accordion ==-->
  </div>
</section>
<!--== End Shopping Checkout Area Wrapper ==-->
