<div class="myaccount-content" id="<%= dom_id product %>">
  <h3>Detalles del producto</h3>
  <!--== Start Shopping Checkout Area Wrapper ==-->
  <section class="shopping-checkout-wrap">
    <div class="col-lg-12">
      <!--== Start Billing Accordion ==-->
      <div class="checkout-billing-details-wrap">
        <div class="billing-form-wrap">
          <form action="#" method="post">
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <%= label_tag :code, "Codigo" %>
                  <%= text_field_tag :code, product.code, class: "form-control", disabled: true %>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <%= label_tag :name, "Nombre" %>
                  <%= text_field_tag :name, product.name, class: "form-control", disabled: true %>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                    <%= label_tag :category, "Categoria" %>
                    <%= select_tag :category, options_for_select([["Ninguno", ""]] + @categories.to_a, product.category), { class: "form-control", disabled: true } %>
                  </div>
                </div>
              <div class="col-md-2">
                <div class="form-group">
                  <%= label_tag :warranty, "Garantía" %>
                  <%= text_field_tag :warranty, product.warranty, class: "form-control", disabled: true %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= label_tag :color, "Colores" %>
                  <%= hidden_field_tag :color, product.color, class: "form-control", disabled: true %>
                  <div class="product-single-item">
                    <div class="product-single-info">
                      <div class="product-color">
                        <ul class="color-list">
                          <% @colors.each do |color| %>
                            <li data-bg-color="<%= color.values[0] %>" title="<%= color.keys[0] %>"></li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= label_tag :description, "Descripción (optional)" %>
                  <%= text_area_tag :description, product.description, class: "form-control", disabled: true %>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <%= label_tag :price, "Precio" %>
                  <%= text_field_tag :price, product.price, class: "form-control", disabled: true %>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <%= label_tag :discount, "Descuento" %>
                  <%= number_field_tag :discount, product.discount, class: "form-control", disabled: true %>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <%= label_tag :total_price, "Precio Total" %>
                  <%= number_field_tag :total_price, product.total_price, class: "form-control", disabled: true %>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <%= label_tag :stock, "Stock" %>
                  <%= number_field_tag :stock, product.stock, class: "form-control", disabled: true %>
                </div>
              </div>
              <% if !@images.blank? %>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= label_tag :imagen, "Foto Principal" %>
                    <%= select_tag :imagen, options_for_select([["Ninguno", ""]] + @photos.to_a, product.imagen), { class: "form-control", id: "product_imagen", disabled: true } %>
                  </div>
                </div>
                <% if !product.imagen.blank?%>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>&nbsp;</label>
                      <button type="button" id="show-photo" class="btn-coupon d-block" data-bs-toggle="modal" data-bs-target="#myModal" data-image-url="<%= product.imagen %>" onclick="showPhoto(this)">
                        Ver Foto
                      </button>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Fotos</label>
                  <div class="product-single-item">
                    <div class="col-xl-6">
                      <!--== Start Product Thumbnail Area ==-->
                      <div class="product-single-thumb">
                        <div class="swiper-container single-product-thumb single-product-thumb-slider">
                          <div class="swiper-wrapper">
                            <% @images.each do |image| %>
                              <div class="swiper-slide">
                                <a class="lightbox-image" data-fancybox="gallery" href="<%= image.image_url %>">
                                  <img src="<%= image.image_url %>" width="570" height="541" alt="<%= image.image_name %>">
                                </a>
                              </div>
                            <% end %>
                          </div>
                        </div>
                        <div class="swiper-container single-product-nav single-product-nav-slider">
                          <div class="swiper-wrapper">
                            <% @images.each do |image| %>
                              <div class="swiper-slide">
                                <img src="<%= image.image_url %>" width="127" height="127" alt="<%= image.image_name %>">
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <!--== End Product Thumbnail Area ==-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= button_to "Eliminar", product, method: :delete, data: { confirm: "¿Deseas borrar este producto?" }, class: "btn-theme" %>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--== End Billing Accordion ==-->
    </div>
  </section>
  <!--== End Shopping Checkout Area Wrapper ==-->
</div>