<%= render "header_accessories" %>

<!--== Start Contact Area Wrapper ==-->
<section class="contact-area contact-page-area">
  <div class="container" style="padding-top: 40px">

    <p style="color: green"><%= notice %></p>

    <%= render @accessory %>

    <div>
      <%= link_to "Editar", edit_accessory_path(@accessory) %> |
      <%= link_to "Regresar", accessories_path %>
    </div>

  </div>
</section>
<!--== End Contact Area Wrapper ==-->

<%= render "products/full_product_image_modal" %>