<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="VelaMotos - Venta de Motos Electricas y Accesorios" />
    <meta name="keywords" content="motos, venta de motos, accesorios, motos electricas, accesorios para motos" />
    <meta name="author" content="yoversj" />

    <title><%= @page_title %> - GreenLite VelaMotos</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!--== Favicon ==-->
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,500&display=swap"
      rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <%# <link href="/assets/bootstrap.min.css" rel="stylesheet" /> %>
    <%= stylesheet_link_tag "bootstrap.min", "data-turbo-track": "reload" %>
    <!--== Font Awesome Min Icon CSS ==-->
    <%# <link href="/assets/font-awesome.min.css" rel="stylesheet" /> %>
    <%= stylesheet_link_tag "font-awesome.min", "data-turbo-track": "reload" %>
    <!--== Pe7 Stroke Icon CSS ==-->
    <%# <link href="/assets/pe-icon-7-stroke.css" rel="stylesheet" /> %>
    <%= stylesheet_link_tag "pe-icon-7-stroke", "data-turbo-track": "reload" %>
    <!--== Swiper CSS ==-->
    <%# <link href="/assets/swiper.min.css" rel="stylesheet" /> %>
    <%= stylesheet_link_tag "swiper.min", "data-turbo-track": "reload" %>
    <!--== Fancybox Min CSS ==-->
    <%# <link href="/assets/fancybox.min.css" rel="stylesheet" /> %>
    <%= stylesheet_link_tag "fancybox.min", "data-turbo-track": "reload" %>
    <!--== Aos Min CSS ==-->
    <%# <link href="/assets/aos.min.css" rel="stylesheet" /> %>
    <%= stylesheet_link_tag "aos.min", "data-turbo-track": "reload" %>

    <!--== Main Style CSS ==-->
    <%# <link href="/assets/style.css" rel="stylesheet" /> %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>

    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!--wrapper start-->
    <div class="wrapper">

      <%= render "main/header" %>

      <main class="main-content">

        <%= yield %>

      </main>

      <%= render "main/footer" %>

      <!--== Scroll Top Button ==-->
      <div id="scroll-to-top" class="scroll-to-top"><span class="fa fa-angle-up"></span></div>

      <%= render "main/mobile_menu" %>

    </div>
    <!--wrapper end-->

    <!--=======================Javascript============================-->
    <!--=== jQuery Modernizr Min Js ===-->
    <%# <script src="/assets/modernizr.js"></script> %>
    <%= javascript_include_tag 'modernizr', 'data-turbolinks-track': 'reload' %>
    <!--=== jQuery Min Js ===-->
    <%# <script src="/assets/jquery-main.js"></script> %>
    <%= javascript_include_tag 'jquery-main', 'data-turbolinks-track': 'reload' %>
    <!--=== jQuery Migration Min Js ===-->
    <%# <script src="/assets/jquery-migrate.js"></script> %>
    <%= javascript_include_tag 'jquery-migrate', 'data-turbolinks-track': 'reload' %>
    <!--=== jQuery Popper Min Js ===-->
    <%# <script src="/assets/popper.min.js"></script> %>
    <%= javascript_include_tag 'popper.min', 'data-turbolinks-track': 'reload' %>
    <!--=== jQuery Bootstrap Min Js ===-->
    <%# <script src="/assets/bootstrap.min.js"></script> %>
    <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
    <!--=== jQuery Ui Min Js ===-->
    <%# <script src="/assets/jquery-ui.min.js"></script> %>
    <%= javascript_include_tag 'jquery-ui.min', 'data-turbolinks-track': 'reload' %>
    <!--=== jQuery Swiper Min Js ===-->
    <%# <script src="/assets/swiper.min.js"></script> %>
    <%= javascript_include_tag 'swiper.min', 'data-turbolinks-track': 'reload' %>
    <!--=== jQuery Fancybox Min Js ===-->
    <%# <script src="/assets/fancybox.min.js"></script> %>
    <%= javascript_include_tag 'fancybox.min', 'data-turbolinks-track': 'reload' %>
    <!--=== jQuery Waypoint Js ===-->
    <%# <script src="/assets/waypoint.js"></script> %>
    <%= javascript_include_tag 'waypoint', 'data-turbolinks-track': 'reload' %>
    <!--=== jQuery Parallax Min Js ===-->
    <%# <script src="/assets/parallax.min.js"></script> %>
    <%= javascript_include_tag 'parallax.min', 'data-turbolinks-track': 'reload' %>
    <!--=== jQuery Aos Min Js ===-->
    <%# <script src="/assets/aos.min.js"></script> %>
    <%= javascript_include_tag 'aos.min', 'data-turbolinks-track': 'reload' %>
    <!--=== Preview Image ===-->
    <%# <script src="/assets/image.js"></script> %>
    <%= javascript_include_tag 'image', 'data-turbolinks-track': 'reload' %>

    <!--=== jQuery Custom Js ===-->
    <%# <script src="/assets/custom.js"></script> %>
    <%= javascript_include_tag 'custom', 'data-turbolinks-track': 'reload' %>
    <!--=== Custom Js ===-->
    <%# <script src="/assets/script.js"></script> %>
    <%= javascript_include_tag 'script', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
